{% include "Erplite\partials\head.html"%}

<body>
    {% include "Erplite\partials\header.html"%}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include "Erplite\partials\rh.html"%}
            {% include "Erplite\partials\producao.html"%}
            {% include "Erplite\partials\logistica.html"%}
            {% include "Erplite\partials\CRM.html"%}
            {% include "Erplite\partials\Financeiro.html"%}
            {% include "Erplite\partials\Marketing.html"%}

        </div>
    </main>
</body>

{% include "Erplite\partials\footer.html"%}

</html>