{% include "Erplite\partials\head.html"%}

<body>
    {% include "Erplite\partials\header.html"%}
    {% include "Erplite\partials\search.html"%}

    <main class="main-content-container">
        <div class="main-content main-content-list container">
            {% include "Erplite\partials\card_ph_ab.html"%}
            {% include "Erplite\partials\card_ph_b.html"%}
            {% include "Erplite\partials\card_ph_a.html"%}
            {% include "Erplite\partials\CRM.html"%}
            {% include "Erplite\partials\Financeiro.html"%}
            {% include "Erplite\partials\Marketing.html"%}

        </div>
    </main>
</body>

{% include "Erplite\partials\footer.html"%}

</html>