{% include "Erplite\partials\head.html"%}

<body>
    <header class="main-header-container">
        <div class="main-header container">
            <h1>
                <a class="logo" href="/">
                    <span class="main-logo-text">ERP-Lite</span>
                </a>
            </h1>  
        </div>
        <div class="main-header-container2">
            <div class="search-container">
                <div class="container">
                    <h1>Login</h1>
                </div>
            </div>    
        </div>
    </header>

    <main class="main-content-form">
        <div class="main-content main-content-login container">
            <div class="sgae sgae-list-item">
                <div class="sgae-cover">
                    <img src="https://img.freepik.com/free-vector/biometric-security-concept_53876-91629.jpg?w=1380&t=st=1705263679~exp=1705264279~hmac=b5a809b38be903fc4ea60293b463ca45e38b5f4eb3f4664b10567866c8f3b6a2"
            alt="" class="Temp">

            
                </div>
            
                <div class="sgae-title-container">
                    <h2 class="sgae-title">Bem vindo</h2>
            
            
                </div>
            
                <main class="main-content-form">
                    <div class="container_form">
                        <div class="form_grupo">
                            <label for="email" class="form_label">Email:</label>
                            <input type="text" name="email" class="form_input" id="email" placeholder="email@email.com.br" required>
                        </div>
            
                        <div class="form_grupo">
                            <label for="senha" class="form_label">Senha:</label>
                            <input type="text" name="senha" class="form_input" id="senha" placeholder="******" required>
                        </div>
                </main>     
                <footer class="sgae-footer">
                    <a class="sgae-read-more button button-dark button-full-width" href="/recipes/3/">

                        <span>Entrar</span>
                    </a>    
                </footer>    
                                
            </div>

        </div>
    </main>
    {% include "Erplite\partials\footer.html"%}

</body>    