<div class="sgae sgae-list-item">
    <div class="sgae-cover">
        <img src="https://img.freepik.com/free-photo/customer-relationship-management-concept_23-2150038421.jpg?w=1380&t=st=1705264533~exp=1705265133~hmac=1b26bfa38c1afb80060d234bbe5328282d62037a8b7c44931ee825f823208501"
            alt="" class="Temp">

    </div>

    <div class="sgae-title-container">
        <h2 class="sgae-title">CRM</h2>


    </div>

    <div class="sgae-content">
        <p>
            CRM é uma estratégia empresarial centrada no cliente, que utiliza tecnologia para gerenciar e aprimorar relacionamentos, visando melhorar a fidelidade e satisfação dos clientes. Ele organiza informações, facilitando interações e personalizando experiências.

        </p>

    </div>
    <div class="sgae-meta-container">
        <div class="sgae-meta recipe-preparation">
            <h3 class="sgae-meta-title">Módulo</h3>
            <div class="sgae-meta-text">CRM</div>
        </div>
        <div class="sgae-meta recipe-servings">
            <h3 class="sgae-meta-title">Categoria</h3>
            <div class="sgae-meta-text">ADM</div>
        </div>
    </div>
    <footer class="sgae-footer">
        <a class="sgae-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>Login</span>
        </a>
    </footer>

</div>