<div class="sgae sgae-list-item">
    <div class="sgae-cover">
        <img src="https://img.freepik.com/free-photo/vehicles-laptop-supply-chain-representation_23-2149853161.jpg?w=1380&t=st=1705264033~exp=1705264633~hmac=25b3b3d18e503c1d068ad1796af2e4525734d1ece635d693e7926f2070ab6375"
            alt="" class="Temp">

    </div>

    <div class="sgae-title-container">
        <h2 class="sgae-title">Logistica</h2>


    </div>

    <div class="sgae-content">
        <p>A logística trata da gestão estratégica de fluxos de produtos, desde a produção até o consumidor final, visando eficiência, redução de custos e entrega pontual. Engloba planejamento, armazenamento, transporte e distribuição.</p>

    </div>
    <div class="sgae-meta-container">
        <div class="sgae-meta recipe-preparation">
            <h3 class="sgae-meta-title">Módulo</h3>
            <div class="sgae-meta-text">LOG</div>
        </div>
        <div class="sgae-meta recipe-servings">
            <h3 class="sgae-meta-title">Categoria</h3>
            <div class="sgae-meta-text">ADM</div>
        </div>
    </div>
    <footer class="sgae-footer">
        <a class="sgae-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>Login</span>
        </a>
    </footer>

</div>