<div class="sgae sgae-list-item">
    <div class="sgae-cover">
        <img src="https://img.freepik.com/free-photo/hands-holding-smartphone-social-media-concept_23-2150208237.jpg?w=1380&t=st=1705264225~exp=1705264825~hmac=f60837496d214d36e3e8e1eab3632214bd4c5a1c20bcb110503303416b4d239f"
            alt="" class="Temp">

    </div>

    <div class="sgae-title-container">
        <h2 class="sgae-title">Marketing</h2>


    </div>

    <div class="sgae-content">
        <p>
            Marketing é a estratégia que busca entender, criar e comunicar valor para os consumidores, promovendo produtos ou serviços de forma a atender às necessidades e desejos do mercado. Envolve pesquisa, posicionamento de marca e ações para alcançar e engajar o público-alvo.
        </p>

    </div>
    <div class="sgae-meta-container">
        <div class="sgae-meta recipe-preparation">
            <h3 class="sgae-meta-title">Módulo</h3>
            <div class="sgae-meta-text">MARk</div>
        </div>
        <div class="sgae-meta recipe-servings">
            <h3 class="sgae-meta-title">Categoria</h3>
            <div class="sgae-meta-text">ADM</div>
        </div>
    </div>
    <footer class="sgae-footer">
        <a class="sgae-read-more button button-dark button-full-width" href="/recipes/3/">
            <i class="fas fa-eye"></i>
            <span>Login</span>
        </a>
    </footer>

</div>